[submodule "emacs/chemacs2"]
	path = .config/emacs/chemacs2
	url = https://codeberg.org/rafalraczka/chemacs2
	branch = main
[submodule "emacs/profiles/rafalraczka-main"]
	path = .config/emacs/profiles/rafalraczka-main
	url = https://codeberg.org/rafalraczka/emacs-config
	branch = main
[submodule "fonts/juliamono"]
	path = .fonts/juliamono
	url = https://github.com/cormullion/juliamono
	branch = master
